{{template "base" .}}

{{define "header"}}
    <title>Accounts</title>
{{end}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>List of Accounts.</h1>
                <table border="1">
                    <tr>
                        <th>ID</th>
                        <th>Account Name</th>
                        <th>Action</th>
                    </tr>
                    {{ range $key, $value := .IntKeyMap }}
                    <tr>
                        <td>{{ $key }}</td>
                        <td>{{ $value }}</td>
                        <td>
                            <form action="delete_an_account" method="post" style="display:inline;">
                                <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}"/>
                                <input type="hidden" name="id" value="{{ $key }}">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {{ end }}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="new_account">Add an Account</a>
            </div>
            <div class="col-12">
                <a href=".">Home</a>
            </div>
        </div>        
    </div>
{{end}}